* {
    margin: 0;
    padding: 0;
}

#global {
    background-image: url(../imagem/background_login.jpg);
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 0px;
}

#login {
    position: absolute;
    border: 5px solid white;
    border-top: 0px;
    border-left: 0px;
    background-color: hwb(53 33% 2%);
    width: 25vw;
    height: 100vh;
}

#icon {
    width: 8vw;
    margin-left: 5%;
}

.inputs{
    margin-left: 06%;
    width: 20vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1vw;
}

#inputEmail {
    margin-top: 50%;
    margin-bottom: 10%;
}

#entrar {
    width: 20vw;
    height: 5vh;
    margin-top: 30%;
    margin-left: 9%;
    background-color: green;
    border: none;
    border-radius: 5%;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    cursor: pointer;
}

#entrar:hover {
    background-color: greenyellow;
}

#criarConta {
    text-align: center;
    margin-top: 5%;
    font-size: 1vw;
    color: blue;
    cursor: pointer;
}

#Registro {
    display: none;
    height: 50vh;
    width: 30vw;
    position: absolute;
    left: 35%;
    margin-top: 13%;
    border: 2px solid white;
    border-radius: 2%;
    background-image: url(../imagem/criarConta.jpg);
    background-size: cover;
    font-size: 1vw;
}

#cadastroNome, #cadastroEmail, #cadastroSenha {
    margin-top: 5%;
}

#registrar {
    margin-left: 33%;
    margin-top: 10%;
    width: 10vw;
    height: 4vh;
    background-color: green;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

#registrar:hover {
    background-color: yellowgreen;
}

#nome, #email, #senha {
    width: 10vw;
    height: 4vh;
    border-radius: 5%;
    margin-top: 3%;
    margin-left: 5%;
}

#voltarLogin{
    position: absolute;
    display: block;
    bottom: 0px;
    font-size: 1.0vw;
    cursor: pointer;
}

@media(max-width : 768px){
    #login{
        background:none;
        border: none;
    } 
    #icon{
        width: 30vw;
    }
    
    .inputs{
        margin-left: 100%;
        width: 40vw;
        font-size: 3vw;
    }
    #entrar{
        margin-left: 100%;
        width: 40vw;
    }
    #criarConta{
        font-size: 2vw;
        margin-right: -65vw;
    }
    #Registro{
        margin-left: -25%;
        width: 80vw;
        font-size: 3vw;
    }
    #nome, #email, #senha, #registrar{
        width: 40vw;
    }
    #registrar{
        margin-left: 5%;
        font-size: 3vw;
    }
    #voltarLogin{
        font-size: 3vw;
    }
}